{% extends 'base.html'%}

{% block content %}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Recipe</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<div class="receipe-post-area section-padding-80">

    <!-- Receipe Post Search -->
    <div class="receipe-post-search mb-80">
        <div class="container">
            <form action="#" method="post">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <select name="select1" id="select1">
                            <option value="1">Barcha Retseptlar Kategoriyasi </option>
                            <option value="1">Barcha Retseptlar Kategoriyasi 1  </option>
                            <option value="1">Barcha Retseptlar Kategoriyasi 2 </option>
                            <option value="1">Barcha Retseptlar Kategoriyasi 3 </option>
                            <option value="1">Barcha Retseptlar Kategoriyasi 4 </option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-3">
                        <select name="select1" id="select2">
                            <option value="1">Barcha Retseptlar Kategoriyasi </option>
                            <option value="1">Barcha Retseptlar Kategoriyasi 1  </option>
                            <option value="1">Barcha Retseptlar Kategoriyasi 2 </option>
                            <option value="1">Barcha Retseptlar Kategoriyasi 3 </option>
                            <option value="1">Barcha Retseptlar Kategoriyasi 4 </option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-3">
                        <input type="search" name="search" placeholder="Search Receipies">
                    </div>
                    <div class="col-12 col-lg-3 text-right">
                        <button type="submit" class="btn delicious-btn">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Receipe Slider -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="receipe-slider owl-carousel">
                    <img src="img/bg-img/bg5.jpg" alt="">
                    <img src="img/bg-img/bg5.jpg" alt="">
                    <img src="img/bg-img/bg5.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- Receipe Content Area -->
    <div class="receipe-content-area">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="receipe-headline my-5">
                        <span>{{recipe.created_at}}</span>
                        <h2>{{recipe.name}}</h2>
                        <div class="receipe-duration">
                            <h6>{{recipe.prep}} mins</h6>
                            <h6>{{recipe.cook}} mins</h6>
                            <h6>{{recipe.yields}} Servings</h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="receipe-ratings text-right my-5">
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <a href="https://t.me/kyberphp" class="btn delicious-btn">Telegram Kanal</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-8">
                    <!-- Single Preparation Step -->
                    <div class="single-preparation-step d-flex">
                        {% for i in recipe.text.all %}
                        <p> {{ i.text }} </p>
                    </div>
                        {% endfor %}
                </div>

                <!-- Ingredients -->
                <div class="col-12 col-lg-4">
                    <div class="ingredients">
                        <h4>Ingredientlar</h4>
                        {% for i in recipe.ingredients.all %}

                        <!-- Custom Checkbox -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">{{i.name}} </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-left">
                        <h3>Leave a comment</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="contact-form-area">
                        <form action="{% url "recipe-detail" recipe_id=recipe.id %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <input name="message" type="text" class="form-control" id="name" placeholder="Name">
                                </div>
                                <div class="col-12">
                                    <button class="btn delicious-btn mt-30" type="submit">Comment joylang</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-lg-4" style="margin-top: 50px;">
                    {% for comment in recipe.comments.all  %}
                    <div class="row mb-3">
                        <div class="row col-7">
                            <b> {{ comment.user.username }} <span class="fw-lighter"> {{ comment.created_at }} </span></b>
                            <p class="mt-2 font-monospace">{{ comment.text }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content%}