{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Page</title>
  <link rel="stylesheet" href="{% static "login.css" %}">
</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
      <form action="{% url "login" %}" method="post">
        {% csrf_token %}
        <input name="username" type="text" placeholder="Username">
        <input name="password" type="password" placeholder="Parol">
        <a href="#">Forgot password?</a>
        <input type="submit" class="button" value="Login">
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
         <a href="{% url "register" %}">Sign up</a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>